mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}

mat-sidenav {
    width: 200px;
}

html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: lightgray;
}

.navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-icons {
    display: inline-block;
    padding-left: 6px;
}